[submodule "verilator"]
	path = verilator
	url = https://github.com/verilator/verilator.git
[submodule "uvm-verilator"]
	path = uvm-verilator
	url = https://github.com/antmicro/uvm-verilator.git
	branch = current-patches-deprecated-api
